<div *ngIf="user">
  <p>Welcome {{user.userName}}</p>
</div>

<div *ngIf="messages">
  <h2>Your messages: </h2>
  <ul>
      <li *ngFor="let message of messages">
        <span>{{message.content}}</span>
      </li>
    </ul>
</div>

<div *ngIf="champions">
  <h3>Your champions: </h3>
  <div class="row">
      <div *ngFor="let champ of champions">
          <div class="card col-sm" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{champ.name}}</h5>
              <p class="card-text">Level: {{champ.level}}</p>
              <p class="card-text">Quality: {{champ.quality}}</p>
              <div class="row">
                  <a class="btn btn-primary col-sm">Level up!</a>
                  <a class="btn btn-primary col-sm">Upgrade quality!</a>
              </div>              
            </div>
          </div>
        </div>
  </div>


<div *ngIf="champions">
  <div *ngIf="champions.length < 5">
      <p>You seem to lack champions, you can have a total of five!</p>
      <div>
          <label>Give your new champion a name!:
            <input [(ngModel)]="newChampion.name">
            <a class="btn btn-primary" (click)="addChampion()">Add new champion</a>
          </label>
        </div>
  </div>  
</div>
