<div *ngIf="user">
  <h2 class="centerCustom">Welcome {{user.userName}}, you have {{user.gold}} gold coins!</h2>
</div>
<div class="row">
  <a class="btn fancy-btn" (click)="openDialog()">
    Edit your user settings
    <i class="material-icons">
      build
    </i>
  </a>
</div>
<br>
<div class="row">
  <a class="btn fancy-btn" (click)="deleteAccount()">
    Delete account
    <i class="material-icons">
      block
    </i>
  </a>

</div>

<div *ngIf="champions">
  <h4 class="centerCustom">Your champions: </h4>
  <div class="row centerCustom">
    <div *ngFor="let champ of champions">
      <div class="card col-sm centerCustom" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{champ.name}}</h5>
          <p class="card-text">Level: {{champ.level}}</p>
          <p class="card-text">Quality: {{champ.quality}}</p>
          <div *ngIf="userGold" class="row">
            <a *ngIf="userGold >=200" class="myButton" (click)="upgradeLevel(champ._id)">Level up!(200G)</a>
            <a *ngIf="userGold <200">You need more gold to level up!</a>
            <a *ngIf="userGold >= 500" class="myButton" (click)="upgradeQuality(champ._id)">Upgrade quality!(500G)</a>
            <a *ngIf="userGold <500 && !champ.quality == Diamond">You need more gold to increase quality!</a>
            <a *ngIf="champ.quality == Diamond">Your can no longer upgrade your champion</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="champions">
    <div class="row centerCustom">
      <div *ngIf="champions.length < 5">
        <p>You seem to lack champions, you can have a total of five!</p>
        <div>
          <label>Give your new champion a name!:
            <input [(ngModel)]="newChampion.name">
            <a class="myButton" (click)="addChampion()">Add new champion</a>
          </label>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="messages">
    <h4 class="centerCustom">Your message wall: </h4>
    <div *ngFor="let message of messages">
      <div class="row card centerCustom">
        <div class="card-header">
          <p>{{message.content}}</p>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">{{message.authorName}}
              <button class="btn standardButton">
                <i class="material-icons" (click)="deleteMessage(message._id)">
                  delete
                </i>
              </button>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
