<h2 class="centerCustom">Highscore list for champions!</h2>

<div class="table table-responsive">
  <table class="table-hover centerCustom">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Quality</th>
        <th scope="col">Owned by</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let champ of champions">
        <td>{{champ.name}}</td>
        <td>{{champ.level}}</td>
        <td>{{champ.quality}}</td>
        <td><a class="btn standardButton">
            <i class="material-icons" (click)="getOwner(champ.owner)">
                account_circle
            </i>
          owner</a></td>
      </tr>
    </tbody>
  </table>
</div>

