<h2>Highscore list for champions!</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Quality</th>
        <th scope="col">Owned by</th>
      </tr>
    </thead>
    <tbody>
        <div *ngFor="let champ of champions">
      <tr>
        <th scope="row"></th>
        <td>{{champ.name}}</td>
        <td>{{champ.level}}</td>
        <td>{{champ.quality}}</td>
        <td><a class="button1" (click)="getOwner(champ.owner)">owner</a></td>
      </tr>
    </div>
    </tbody>
  </table>

