<p>REGISTER</p>

<form (ngSubmit)="register()" #registerForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">
  <div class="form-group">
    <label for="firstName">FirstName</label>
    <input type="text" class="form-control" placeholder="firstName" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" required>
    <div *ngIf= "firstName.invalid && (firstName.dirty || firstName.touched)"  class="alert alert-danger">
        <span>Firstname is required</span>
    </div>
    
  </div>
  <div class="form-group">
    <label for="lastName">LastName</label>
    <input type="text" class="form-control" id="lastName" placeholder="lastName" [(ngModel)]="user.lastName" name="lastName">
  </div>
  <div class="form-group">
    <label for="userName">Username</label>
    <input type="text" class="form-control" id="userName" placeholder="Username" [(ngModel)]="user.userName" name="userName">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password">
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!registerForm.form.valid">Register</button>
  <a *ngIf="!registerForm.form.valid">The form must be valid in order to submit</a>
</form>