<div *ngIf="user">
  <h2 class="centerCustom">Player profile: {{user.userName}}</h2>
</div>

<div *ngIf="champions">
    <h4 class="centerCustom">{{user.userName}}'s Champions: </h4>
    <div class="row centerCustom">
      <div *ngFor="let champ of champions">
        <div class="card col-sm centerCustom" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{champ.name}}</h5>
            <p class="card-text">Level: {{champ.level}}</p>
            <p class="card-text">Quality: {{champ.quality}}</p>
          </div>
        </div>
      </div>
    </div>

<div *ngIf="messages">
    <h3 class="centerCustom">{{user.userName}}'s Message wall:</h3>
    <div *ngFor="let message of messages">
        <div class="row col-sm-12 col-md-12 col-lg-12 centerCustom">
    <div class="card centerCustom">
        <div class="card-header">
          <p>{{message.content}}</p>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">{{message.authorName}}
                <a *ngIf="currentUser == message.author" class="btn">
                    <i class="material-icons" (click)="deleteMessage(message._id)">
                        delete
                      </i>
                    </a>
            </footer>            
          </blockquote>
        </div>
      </div>
      </div>
    </div>
</div>
<div *ngIf="user">
    <a class="btn centerCustom" (click)="openDialog()">Write on {{user.userName}}'s wall'</a>
</div>