<div *ngIf="user">
  <h2 class="centerCustom">Player profile: {{user.userName}}</h2>
</div>

<div *ngIf="champions">
  <h3 class="centerCustom">Champions:</h3>
  <ul>
    <li *ngFor="let champ of champions">
      <span>{{champ.name}}</span>
    </li>
  </ul>
</div>

<div *ngIf="messages">
    <h3 class="centerCustom">Messages:</h3>
    <div *ngFor="let message of messages">
    <div class="card row centerCustom">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="card-header">
          <p>{{message.content}}</p>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">{{message.authorName}}
                <a *ngIf="currentUser == message.author" class="btn">
                    <i class="material-icons" (click)="deleteMessage(message._id)">
                        delete
                      </i>
                    </a>
            </footer>            
          </blockquote>
        </div>
      </div>
      </div>
    </div>
</div>
<div *ngIf="user">
    <a class="btn btn-default centerCustom" (click)="openDialog()">Send {{user.userName}} a message</a>
</div>