<div *ngIf="user">
  <h2>Player profile: {{user.userName}}</h2>
</div>

<div *ngIf="champions">
  <h3>Champions:</h3>
  <ul>
    <li *ngFor="let champ of champions">
      <span>{{champ.name}}</span>
    </li>
  </ul>
</div>

<div *ngIf="messages">
    <h3>Messages:</h3>
    <div *ngFor="let message of messages">
    <div class="card">
        <div class="card-header">
          <p>{{message.content}}</p>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">{{message.authorName}}</footer>
            <a *ngIf="currentUser == message.author" class="btn">Remove</a>
          </blockquote>
        </div>
      </div>
    </div>
</div>
<div *ngIf="user">
    <a class="myButton" (click)="openDialog()">Send {{user.userName}} a message</a>
</div>