<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='/home'>Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a *ngIf="isLogged()" class="nav-item nav-link" routerLink='/dashboard'>Dashboard <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink='/highscores'>Highscores</a>
      <a class="nav-item nav-link" routerLink='/players'>Players</a>
      <a *ngIf="!isLogged()" class="nav-item nav-link" routerLink='/login'>Login</a>
      <a *ngIf="!isLogged()" class="nav-item nav-link" routerLink='/register'>Register</a>
      <a *ngIf="isLogged()" class="btn nav-item nav-link" (click)="logOutUser()">Logout</a>
    </div>
  </div>
</nav>